body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f0f0f0;
}

a {
  color: #00B7FF;
}

h1{
	font-family: 'Nexa Light', Helvetica, Arial, sans-serif;
}

strong{
	font-family: 'Nexa Bold', Helvetica, Arial, sans-serif;
}

.hero_container{
	height: 80%;
}

.hero_text{
	color: #f0f0f0;
	text-align: center;
	margin-top: -2em;
}

.hero_inputs_box{
	margin-top: 2em;
}

.hero_input{
	font-size: 1.5em;
}

.hero_date{
	margin-bottom: -10px;
}

.hero_button_container{
	margin-top: 2em;
}

.hero_button{
	padding: 0.5em 2em;
	color: #f0f0f0 !important;
	font-size: 1.2em;
}

md-progress-circular.md-accent path{
	stroke: rgb(255,255,255) !important;
}

.demo-layout-transparent {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/bg.jpg') center / cover;

}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.md-errors-spacer:empty { display: none; }

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.transparent{
	background-color: transparent !important;
}

.home-grid{
	max-width: 900px;
}

.home{
	width: 100%;
    text-align: center;
}

input[google-place]::-webkit-input-placeholder {
    opacity: 0;
}

input[google-place]:-moz-placeholder {
    /* Firefox 18- */

    opacity: 0;
}

input[google-place]::-moz-placeholder {
    /* Firefox 19+ */

    opacity: 0;
}

input[google-place]:-ms-input-placeholder {
    opacity: 0;
}

.custom-marker {
      }
      .custom-marker.my1 {
        font-size: 1.5em;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        max-width: 200px;
        height: 100px;
      }

      .custom-marker.my1:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
      }

      .custom-marker.my1:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
      }

      .custom-marker.my2 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        background: red;
      }

      .custom-marker.my2:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: red transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
      }

      .custom-marker.my2:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
      }
