

body {
  font: 18px "Roboto", Helvetica, Arial, sans-serif;
  color: #f0f0f0;
}

a {
  color: #00B7FF;
}

.hero_text h1{
	font-family: 'Nexa Light', Helvetica, Arial, sans-serif;
}

.hero_text strong{
	font-family: 'Nexa Bold', Helvetica, Arial, sans-serif;
}

.hero_container{
	height: 80%;
}

.hero_text{
	color: #f0f0f0;
	text-align: center;
	margin-top: -2em;
}

.hero_inputs_box{
	margin-top: 2em;
}

.hero_input{
	font-size: 1.5em;
}

.hero_date{
	margin-bottom: -10px;
}

.hero_button_container{
	margin-top: 2em;
}

.hero_button{
	padding: 0.5em 2em;
	color: #f0f0f0 !important;
	font-size: 1.2em;
}

md-progress-circular.md-accent path{
	stroke: rgb(255,255,255) !important;
}

.demo-layout-transparent {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/bg.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.place_container{
	padding: 1em;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/bg.jpg') center / cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.place_title{
	margin: 0.5em;
	font-size: 3em;
	font-family: 'Nexa Bold', Helvetica, Arial, sans-serif;
}

.flight_icon{
	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 3em;
}

.md-errors-spacer:empty { display: none; }

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.transparent{
	background-color: transparent !important;
}

.home-grid{
	max-width: 900px;
}

.home{
	width: 100%;
    text-align: center;
}

input[google-place]::-webkit-input-placeholder {
    opacity: 0;
}

input[google-place]:-moz-placeholder {
    /* Firefox 18- */

    opacity: 0;
}

input[google-place]::-moz-placeholder {
    /* Firefox 19+ */

    opacity: 0;
}

input[google-place]:-ms-input-placeholder {
    opacity: 0;
}

.location_card{
	max-width: 200px;
	height: 80px;
}


